<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="C:\xampp\htdocs\FrontEndProject\css\Login.css">
    <style>
       
        label{
            font-weight: 600;
            color: black;
        }
        h2{ 
            left: 50PX;
            margin-bottom: 20PX;
            font-weight: 800;
            color: black;
        }
        .Form-control{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    </style>
</head>
<h1 style="text-align: center;">Welcome to Firm Entitlement System</h1>

<div class="Login-form">

    <form action="">

<!-- <img src="../images/loginlogo.jpg" alt="loginimag" height="800px" width="800px"> -->
        <div class="Form-control">
            <div class="Form-control">
                <h2 style="text-align: center;"> Admin Login </h2>
                <label for="Username">Username<span>*</span></label>
                <input type="text" id="Username" placeholder="Enter Username" required>
                <label for="password">Password<span>*</span></label>
                <input type="password" id="password" placeholder="Enter password" required>
            </div>
            
                <button class="btn btn-primary" id="loginButton">Login</button>

            
            
        </div>


    </form>
</div>

<body>


    <script src="C:\xampp\htdocs\FrontEndProject\javascript\login.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>